# ----------------------
# Backend (Python/FastAPI)
# ----------------------
__pycache__/
*.pyc
*.pyo
*.wav               
.env
.env.local
venv/
env/
backend/audio/*     
!backend/audio/.gitkeep  
backend/__pycache__/

# ----------------------
# Frontend (React/Vite)
# ----------------------
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.env
frontend/.env.local
frontend/.env.*.local

# ----------------------
# Logs
# ----------------------
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ----------------------
# Système / fichiers inutiles
# ----------------------
.DS_Store
.DS_Store?
Thumbs.db

# ----------------------
# Éditeurs / IDE
# ----------------------
.vscode/
!.vscode/extensions.json
.idea/
