# Dossier contenant les fichiers compilés Python
__pycache__/

# Fichiers Python compilés
*.pyc

# Fichiers audio générés par Kokoro
*.wav

# Fichier des variables d'environnement
.env

# Environnement virtuel Python
venv/
